Repository UMCarpentries/intro-curriculum-r, pull requests merged in 2021-02, with the labels that each got.

#113 Table of Contents in unix lesson file
  _episodes/02-unix-shell.md
Labels: 2-unix-shell

#129 Fix non-plot images for r-plotting
  _episodes/01-r-plotting.md
  _episodes_rmd/01-r-plotting.Rmd
  fig/r-plotting/browse.png
  fig/r-plotting/create_project.png
  fig/r-plotting/existing_directory.png
  fig/r-plotting/files_with_rproj.png
  fig/r-plotting/general_options.png
  fig/r-plotting/global_options.png
  fig/r-plotting/history.png
  fig/r-plotting/initial_rstudio.png
  fig/r-plotting/navigate_to_project.png
  fig/r-plotting/new_project_menu.png
Labels: 1-r-plotting

#131 Make some exercises bonus
  _episodes_rmd/01-r-plotting.Rmd
  vignettes/paper.Rmd
Labels: 1-r-plotting

#103 Plotting Lesson Callouts
  _episodes_rmd/01-r-plotting.Rmd
  vignettes/paper.Rmd
Labels: 1-r-plotting

#124 Add additional exercises
  _episodes_rmd/01-r-plotting.Rmd
Labels: 1-r-plotting

#122 Add back-to-top links & make ToC format consistent
  _episodes/04-r-data-analysis.md
Labels: 4-r-data-analysis

#130 Move sections to bonus content for second half of analysis lesson
  _episodes_rmd/04-r-data-analysis.Rmd
Labels: 4-r-data-analysis

#125 Move man intro
  _episodes/02-unix-shell.md
  fig/unix-shell/less_help.png
  fig/unix-shell/man_help.png
  fig/unix-shell/man_less.png
  fig/unix-shell/man_ls.png
Labels: 2-unix-shell

#94 Break up the basic workflow
  _episodes/03-intro-git-github.md
Labels: 3-git-github

#127 Partial resolution for Top half moving content #121
  _episodes_rmd/04-r-data-analysis.Rmd
Labels: 4-r-data-analysis
